{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Bomberman</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/style.css">
        

    </head>
    <body>
    <a href="{{ path('homepage') }}"><h1 style="text-align: center">Bomberman</h1></a>
    <form>
    <div id="settings" class="row" style="margin-left:auto;margin-right: auto;margin-top: 40px;width:40%">
        <div class="form-group" style="margin: auto;width:200px">
            <label>Server address<input class="form-control" style="width:auto" type="textaera" id="servAddress" value="http://localhost:8080/"></label><br>
        </div>
        <div class="form-group" style="margin: auto;width:200px">
            <label>Nombre de joueurs<input class="form-control" style="width:auto" type="number" id="numberPlayers"></label><br>
        </div>
        <div id="players">

        </div>
        <div style="margin:auto;width:140px">
            <input class="btn btn-default" type="button" onClick="request()" value="Lancer le jeu"/>
        </div>
    </div>
    </form>
    <div style="width:90%;margin-left:auto;margin-right: auto;margin-top: 40px;" class="row" id="game">
        <div id="infoPlayers" class="col-md-5"></div>
        <div id="result" class="col-md-7"></div>
    </div>

    <script>
        var players = [];
        var oldOccupants = [];
        var oldPlayers = [];
        var board = [];
        var bombs = [];
        var server;
        $('#numberPlayers').change(function()
        {
            var numberPlayers = $('#numberPlayers').val();
            var contenu = '<div class="form-group">';
            for(var i=0;i<numberPlayers;i++)
            {
                contenu+='<label>IA Joueur '+(i+1)+'<select class="playersIA"><option value="1">Aggressive</option><option value="0">Random</option><option value="2">Max</option></select></label><br>'
            }
            contenu+='</div>';
            $('#players').html(contenu);
        });


        function request()
        {
            var playersIA="";
            server = $('#servAddress').val();
            var selectsIA = document.getElementsByClassName('playersIA');
            for(var i=0;i<selectsIA.length;i++)
            {
                playersIA+=parseInt(selectsIA[i].selectedOptions[0].value);
            }
            $.ajax({
                url:server+'init',
                type:'POST',
                crossDomain : true,
                data : {playersIA : playersIA},
                dataType:'json',
                success:function(data)
                {
                    $('#settings').remove();
                    oldPlayers = data['players'];
                    players = data['players'];
                    board = data['board'];
                    displayInfoPlayers();
                    displayBoard();
                    setTimeout(motor,400);
                }
            })
        }
        function motor()
        {
            //Appel ajax beat
            $.ajax({
                url:server+'turn',
                type:'GET',
                dataType:'json',
                success:function(data)
                {
                    oldPlayers = players;
                    board = data['board'];
                    players = data['players'];
                    bombs = data['bombs'];
                    var gameOver = isGameOver();
                    if(gameOver.length==0)
                    {
                        displayInfoPlayers();
                        transitionBoard();
                        setTimeout(motor,500);
                    }
                    else 
                    {
                        displayInfoPlayers();
                        transitionBoard();
                        $.ajax({
                            url:'{{ path('game_over') }}',
                            type:'POST',
                            data:{winners : gameOver,players:players}
                        })
                    }
                }
            });
        }

        function displayBoard()
        {
            var occupants = getNumberOfOccupants();
            var contenu = '<table id="map" border="0" cellspacing="0" cellpadding="0">';
            for(var i=0;i<board.length;i++)
            {
                contenu+='<tr>';
                for(var j=0;j<board[i].length;j++)
                {
                    contenu+='<td>';
                    if(board[i][j] == "x")
                    {
                        contenu+='<img id="block" src="img/wall.png">';
                    }
                    else if(board[i][j] == "o")
                    {
                        contenu+='<img id="wallDes" src="img/destructible.png">';
                    }
                    else
                    {
                        var filled = false;
                        for(var n=0;n<occupants.length;n++)
                        {
                            if(i==occupants[n][1] && j==occupants[n][0] && players[occupants[n][3]][4]==0)
                            {
                                filled = true;
                                contenu+='<div style="position: relative; left: 0; top: 0;">';
                                if(board[i][j] == "_" && isThereABomb(i,j))
                                {
                                    contenu+='<img id="bomb" src="img/grassBomb.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                                }
                                else if(board[i][j] == "p")
                                {
                                    contenu+='<img id="bombBonus" src="img/bonusBiggerBomb.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                                }
                                else if(board[i][j] == "c")
                                {
                                    contenu+='<img id="bombBonus" src="img/bonusBombs.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                                }
                                else 
                                {
                                    contenu+='<img id="block" src="img/grass.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                                }
                                switch(occupants[n][2])
                                {
                                    case 1:
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 8px; left: 8px;z-index:2">';
                                        break;
                                    case 2:
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 8px; left: 2px;z-index:2">';
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 8px; left: 14px;z-index:3">';
                                        break;
                                    case 3:
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 2px; left: 8px;z-index:2">';
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 14px; left: 2px;z-index:3">';
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 14px; left: 14px;z-index:4">';
                                        break;
                                    case 4:
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 2px; left: 2px;z-index:2">';
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 14px; left: 14px;z-index:3">';
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 14px; left: 2px;z-index:4">';
                                        contenu+='<img src="img/betty.png" id="betty'+occupants[n][3]+'" style="position: absolute; top: 2px; left: 14px;z-index:5">';
                                        break;
                                }

                                contenu+='</div>';
                            }
                        }
                        if(!filled)
                        {
                            if(board[i][j] == "_" && isThereABomb(i,j))
                            {
                                contenu+='<img id="bomb" src="img/grassBomb.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                            }
                            else if(board[i][j] == "p")
                            {
                                contenu+='<img id="bombBonus" src="img/bonusBiggerBomb.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                            }
                            else if(board[i][j] == "c")
                            {
                                contenu+='<img id="bombBonus" src="img/bonusBombs.png" style="position: relative; top: 0; left: 0;z-index:1;">';
                            }
                            else 
                            {
                                contenu+='<img id="block" src="img/grass.png">';
                            }
                        }
                    }

                    contenu+='</td>';
                }
                contenu+='</tr>';
            }
            contenu+='</table>';
            $("#result").html(contenu);
        }
        
        function transitionBoard()
        {
            for(var i=0;i<players.length;i++)
            {
                var diffX = players[i][0]-oldPlayers[i][0];
                var diffY = players[i][1]-oldPlayers[i][1];
                if(diffX!=0)
                {
                    if(diffX>0)
                    {
                        $('#betty'+i).each(function()
                        {
                            var a = parseInt($(this).css("left"))+32;
                            var newV = a.toString()+'px';
                            $(this).css( "left" , newV);
                        });
                    }
                    else 
                    {
                        $('#betty'+i).each(function()
                        {
                            var a = parseInt($(this).css("left"))-32;
                            var newV = a.toString()+'px';
                            $(this).css( "left" , newV);
                        });
                    }
                }
                else if(diffY!=0)
                {
                    if(diffY>0)
                    {
                        $('#betty'+i).each(function()
                        {
                            var a = parseInt($(this).css("top"))+32;
                            var newV = a.toString()+'px';
                            $(this).css( "top" , newV);
                        });
                    }
                    else
                    {
                        $('#betty'+i).each(function()
                        {
                            var a = parseInt($(this).css("top"))-32;
                            var newV = a.toString()+'px';
                            $(this).css( "top" , newV);
                        });
                    }
                }
            }
            setTimeout(displayBoard,250);
        }
        
        function displayInfoPlayers()
        {
            var contenu = '<h2>Information des joueurs</h2>';
            contenu += '<table style="width:90%;margin: auto" class="table table-hover">';
            contenu+='<thead><tr><th>Joueur</th><th>X</th><th>Y</th><th>Bombes Max</th><th>Puissance</th><th>En vie</th><th>IA</th></tr></thead><tbody>';
            for(var i=0;i<players.length;i++)
            {
                contenu+='<tr>';
                contenu+='<td>Joueur '+(i+1)+'</td>';
                contenu+='<td>'+players[i][0]+'</td>';
                contenu+='<td>'+players[i][1]+'</td>';
                contenu+='<td>'+players[i][2]+'</td>';
                contenu+='<td>'+players[i][3]+'</td>';
                switch (players[i][4])
                {
                    case 0:
                        contenu+='<td>Oui</td>';
                        break;
                    default:
                        contenu+='<td>Non</td>';
                        break;
                }
                switch (players[i][5])
                {
                    case 0:
                        contenu+='<td>Aléatoire</td>';
                        break;
                    case 1:
                        contenu+='<td>Aggressive</td>';
                        break;
                    case 2:
                        contenu+='<td>Max</td>';
                        break;
                }
                contenu+='</tr>';
            }
            contenu+='</tbody></table>';
            $('#infoPlayers').html(contenu);
        }

        function getNumberOfOccupants()
        {
            var occupants = new Array();
            var moreThanOne = false;
            var index = 0;
            for(var i=0;i<players.length;i++)
            {
                moreThanOne=false;
                var numberOccupants = 0;
                for(var j=0;j<players.length;j++)
                {
                    if(players[i][0]==players[j][0] && players[i][1]==players[j][1])
                    {
                        occupants[i]=[players[j][0],players[j][1],++numberOccupants,j,players[i][4]];
                        moreThanOne=true;
                    }
                }
                if(!moreThanOne)
                {
                    occupants[i]=[players[j][0],players[j][1],numberOccupants,j,players[i][4]]
                }
            }
            for(i=0;i<occupants.length;i++)
            {
                for(j=0;j<occupants.length;j++)
                {
                    if(occupants[i][0]==occupants[j][0] && occupants[i][1]==occupants[j][1] && occupants[i][2]==occupants[j][2] && i!=j)
                    {
                        occupants.splice(j,1);
                    }
                }
            }
            return occupants;
        }
        
        function isThereABomb(x,y)
        {
            for(var i=0;i<bombs.length;i++)
            {
                for(var j=0;j<bombs[i].length;j++)
                {
                    if(x==bombs[i][j][1] && y==bombs[i][j][0])
                    {
                        return true;
                    }
                }
                
            }
            return false;
        }
        
        function isGameOver()
        {
            var numberOfDeads = 0;
            for(var i=0;i<players.length;i++)
            {
                if(players[i][4]==1)
                {
                    numberOfDeads++;
                }
            }
            if(numberOfDeads==players.length-1)
            {
                for(var i=0;i<players.length;i++)
                {
                    if(players[i][4]==0)
                    {
                        return [i];
                    }
                }
            }
            else if(numberOfDeads==players.length)
            {
                var playersAlive = [];
                for (var i=0;i<oldPlayers.length;i++)
                {
                    if(oldPlayers[i][4]==0)
                    {
                        playersAlive.push(oldPlayers[i]);
                    }
                }
                return playersAlive;
            }
            else
            {
                return [];
            }
        }

    </script>
    </body>
    </html>

{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
